[submodule "type-generator/lemmy-js-client"]
	path = type-generator/lemmy-js-client
	url = https://github.com/LemmyNet/lemmy-js-client.git
[submodule ".github/workflows/pkl"]
	path = .github/workflows/pkl
	url = git@github.com:ComposeComponents/actions-java.git
